# Logs
npm-debug.log*

# Dependency directories
node_modules

# Optional npm cache directory
.npm

# Optional REPL history
.node_repl_history

# Environment
.env

# Compiled assets
public/**/*.css
public/**/*.js

# Coverage reports
coverage
