/*------------------------------------*/
/*    $CONTENTS
/*------------------------------------*/
#map-container
    position: absolute
    top: 0
    right: 0
    bottom: 0
    left: 0

#map
    width: 100%
    height: 100%

.place-tooltip
    z-index: 400
    position: absolute
    width: 300px
    min-height: 150px
    margin: 20px 0 0 -150px
    padding: 10px 15px
    background: white
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3)
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3)
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3)
    -webkit-border-radius: 5px
    -moz-border-radius: 5px
    border-radius: 5px
    text-align: center

    &:before
        position: absolute
        top: -8px
        left: 50%
        display: block
        margin: 0 0 0 -7px
        border: solid
        border-width: 0 7px 8px
        border-color: transparent transparent white
        content: ''

    h3
        margin: 0
        padding: 0

    img
        margin: 5px 0

#socials
    z-index: 200
    position: absolute
    top: 15px
    right: 10px

    a
        display: block
        width: 31px
        height: 31px
        margin-bottom: 4px
        overflow: hidden
        text-indent: -999px

    a.facebook
        background: url(../images/facebook.png) no-repeat

    a.instagram
        background: url(../images/instagram.png) no-repeat

/**
 * GRID
 */





/*------------------------------------*/
/*    $GRID
/*------------------------------------*/
