#socials
    z-index: 950
    position: absolute
    right: 52px
    bottom: 21px

    a
        display: inline-block
        width: 31px
        height: 31px
        margin-bottom: 4px
        overflow: hidden
        text-indent: -999px

    a.facebook
        background: url(../images/facebook.png) no-repeat

    a.instagram
        background: url(../images/instagram.png) no-repeat