<div id="map-container">

    <div id="socials">
        <a class="facebook" href="https://www.facebook.com/ProPsy.Co/">Facebook</a>
        <a class="instagram" href="https://www.instagram.com/propsy.dog/">Instagram</a>
    </div>

    <div id="map"></div>

</div>
